body {
    text-align: center;
    padding: 20px;
  }
  
  input {
    width: 200px;
    padding: 5px;
    margin: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: rgb(109, 103, 103);
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  p {
    margin-top: 20px;
    font-weight: bold;
  }
  